@tailwind base;

/* Applicazione del font personalizzato per i titoli */
h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

@tailwind components;
@tailwind components;
@tailwind utilities;


/* Stili per il tema CHIARO */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-background: #ffffff;       /* Sfondo Principale */
  --secondary-background: #f1f5f9;  /* Sfondo Secondario (Cards) */
  --primary-text: #0f172a;          /* Testo Primario */
  --secondary-text: #64748b;        /* Testo Secondario */
  --accent: #06b6d4;                /* Accento Ciano */
  --accent-hover: #0891b2;          /* Accento Ciano (Hover) */
  --accent-text: #ffffff;            /* Testo su Accento */
}

/* Stili per il tema SCURO */
.dark {
  --background: #0A192F;
  --foreground: #E5E7EB;

  --primary-background: #0A192F;      /* Sfondo Principale */
  --secondary-background: #172A45;  /* Sfondo Secondario (Cards) */
  --primary-text: #E5E7EB;          /* Testo Primario */
  --secondary-text: #9CA3AF;        /* Testo Secondario */
  --accent: #22d3ee;                /* Accento Ciano */
  --accent-hover: #1fb6cf;          /* Accento Ciano (Hover) */
  --accent-text: #0A192F;            /* Testo su Accento */
}

body {
  background: var(--primary-background);
  color: var(--primary-text);
  transition: background-color 0.3s, color 0.3s;
}


/* Aggiunta di classi personalizzate per i ritardi delle animazioni */
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

/* Animazione Blob attualmente usata per la sezione Hero */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

/* Nasconde il cursore predefinito */
* {
  cursor: none !important;
}